*{
  margin:0;
  padding: 0;
box-sizing: border-box;  
font-family: "Fira Sans", sans-serif;
}

body{
  background: linear-gradient(to left, rgb(0, 150, 0) 30%,aqua 100%);
}

.App{
  display: flex;
  align-items: center;
  justify-content: right;
  min-height:80vh;
  margin: 2% 50px;
}

.c-player{
  display: block;
  background-color: rgb(50, 50, 50);
 border-radius: 45px;
  padding: 40px;
  box-shadow: 2px 2px 30px black;
  margin-top: -10px;
 
}

.c-player h4{
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-top: ;

}

.c-player p{
  color: #aaa;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
}

.c-player .details-img{
  position: relative;
  width: fit-content;
  margin: 50px auto;

}

.c-player-details .details-img img{
  display: block;
  margin: 0px auto;
  width: 230px;
  max-width: 230px;
  height: 230px;
  border-radius: 50%;
  box-shadow: black 2px 2px 20px;
  margin-bottom: -20px;
  margin-top: -30px;
}

.c-player-details .details-title{
  color:#eee;
  text-shadow: 1px 2px 10px black;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  padding: 0px;

}

.c-player-details .details-artist{
  color: #aaa;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  margin-bottom: 0px;
}

.c-player-controls{
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 30px;
}

.c-player-controls .play-btn{
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px black;
  border: none;
  outline: none;
  cursor: pointer;
}
.c-player-controls .play-btn:hover{
transform: scale(1.02);
box-shadow: 3px 3px 20px black;
}
.c-player-controls .play-btn:active{
  background-color:gray;
  color:white
}

.c-player-controls .skip-btn{
  background: none;
  border: none;
outline: none;
cursor: pointer;
color: #888;
font-size: 18px;
border-radius: 20%;
}
.c-player-controls .skip-btn:hover{
  transform: scale(1.02);
box-shadow: 3px 3px 20px black;
color: lightcyan;
}